/*основной цвет текста и телефона #757575*/
/*основной tecxt #212121*/
/*основной цвет фона secshen #E5E5E5*/
/*цвет заголовка в герое h1 #FFFFFF*/
/*цвет ссілок и кнопок (єл.адеса) #2196F3*/
/*цвет фона футера и хыда #2F303A*/
/* цвет серого фона #F5F4FA*/
/**/
:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-text: #2196F3;
    --herotitle: #FFFFFF;
    --bgr-color: #FFFFFF;

}
/*body */
body {
    width: 1600px;
    height: auto;

    background-color: var(--bgr-color) ;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
}
/*header*/
.conteiner {
    width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 94px;    
}
.logo {
    color: var(--accent-text);
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.title {
    color: var(--primary-text-color);
}
.site-nav {
    display: flex;
}
.site-nav .item:not(:last-child) {
    outline: 1px solid blue;
    margin-right: 50px;
}
.site-nav a { 
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-family: inherit;  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav a:hover, .site-nav a:focus {
    color: var(--accent-text);
}
.site-nav .header-text {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/*main*/
     /*общее main*/
.section {
    margin: 0;
    text-align: center;
}
.section-title {
    margin-top: 50px;
    margin-bottom: 50px;
 
    color: var(--primary-text-color);    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;    
}
.text {
    color: var(--text-color);
}
.list {
    padding: 0;
    margin: 0;
}
        /*Hero*/
.hero {
    background-color: #2F303A;
    text-align: center;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 200px;

    color: var(--herotitle);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
     
    font-family: 'Roboto';
    font-style: normal;
    background-color: var(--accent-text);
    color: var(--herotitle);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;   
}
.site-nav .link.current {
    color: var(--accent-text);
}
       
     /*Advantage*/
.advantages-title {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 30px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;    
    text-transform: uppercase;
}
.advantages-text {
    margin-right: 30px;
    margin-left: 0px;
    margin-bottom: 0px;

    color: var(--text-color);
    font-size: 14px;
    line-height: 1.71;
}   
.advantages-list list {
    margin-top: 95px;
    margin-bottom: 0px;
}
     /*DO*/
.section-title {
    margin-top: 0px;
    margin-bottom: 50px;
}


     /*Team*/
.team {
    text-align: center;

    background-color: #F5F4FA;
}
.team-list .title {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;    
}
.team-list .text {
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 1.9;
    text-align: center;    
}

/*Footer*/
.footer {
    background-color: #2F303A;
}
.adress {
    color: var(--herotitle);
        font-size: 14px;
        line-height: 1.7;        
}
.adress-text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.title-footer {
    color: var(--herotitle);
}
/*PAGE PORTFOLIO*/
        /*Filter button*/

.list-filter {
    list-style-type: none;
}
.button-list {
    font-family: 'Roboto';
    font-style: normal;  
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;   
    text-align: center;
}
.list-filter:hover,
.list-filter:focus {
    background-color: var(--accent-text);
    color: var(--herotitle);
}

       /*Progect*/
.bloc .title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.bloc .text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
}
